body {
    background-color: rgba(13, 13, 195, 0.875);
}

p {
    color: white;
    font-style: italic;
}

label {
    color: white;
    font-style: italic;
    font-size: large;
}

h1 {
    color: white;
    font-style: italic;
    font-size: large;
}

button {
    background-color: rgb(10, 186, 245);
}